/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.*.php
.phpunit.result.cache
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.log
